<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>OLIVEIRA TRADE - ERROR</title>
<link rel="stylesheet" href="css/styleLoginAndRegister.css">
<!-- <link rel="stylesheet" href="css/styleLoginAndRegister.css"> -->
</head>
<body>
	<div class="form-wrap">                    
		<div class="marca">		
			<h2>Oliveira Trade</h2>
       		<p>A escolha certa!</p>
    	</div>
	</div>
	
	<div class="form-wrap">	
		<div class="tabs">
			<h3 class="login-tab"><a href="#login-tab-content">Error</a></h3>
			<div class="icon">
				<img src="https://img.icons8.com/bubbles/100/null/error.png"/>
			</div>
			<h4>Dados incorretos. Tente novamente</h4>	
		</div>
         
        <div class="tabs-content">
			<div id="signup-tab-content" class="active">
				
				<div class="help-text">
					<p>Já tem uma conta?<a href="login"> Login!</a></p>
					<p>Não tem uma conta?<a href="register"> Cadastre-se!</a></p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>